:root {
  --primary-color: #eea7b8;
  --secondary-color: #d1d3d4;
  --bg-color: #fae2e7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: #55652f;
  min-height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .logo-navbar {
  font-size: 2rem;
  font-weight: bold;
  color: #eea7b8;
}

.navbar .logo-navbar span {
  color: #55652f;
}

.navbar .navbar-nav a {
  color: #55652f;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary-color);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primary-color);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #55652f;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary-color);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 7% 2rem;
  gap: 3rem;
}

.hero .content {
  flex: 1;
  max-width: 60rem;
  color: #55652f;
}

.hero .content h1 {
  font-size: 4em;
  color: #55652f;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  color: #55652f;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: white;
  font-size: 1.4rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  transition: 0.2s;
}

.hero .content .cta:hover {
  color: #0a0a0a;
  background-color: white;
  transform: scale(0.95);
}

.hero .hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-image img {
  width: 100%;
  max-width: 900px;
  height: auto;
  object-fit: contain;
}

/* About sectieon */
.about,
.course,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.course h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6;
}

/* course section */

.course h2,
.contact h2 {
  margin-bottom: 1rem;
}
.course p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
}

.course .row {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.menu-card {
  background-color: var(--bg-color);
  border: 3px solid #55652f;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.3 ease;
}

.menu-card:hover {
  transform: translateY(-2px);
  border-color: var(--primary-color);
  box-shadow: 0 10px 30px #55652F(68, 180, 186, 0.15);
}

.menu-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.menu-card-content {
  padding: 1.5rem;
}

.menu-card-content span {
  display: inline-block;
  color: #55652f;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.menu-card-content p {
  color: #55652f;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.menu-card-content small {
  display: block;
  color: #55652f;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.menu-card-content strong {
  display: block;
  color: #55652f;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.menu-card-content a {
  display: block;
  text-align: center;
  padding: 0.8rem 1rem;
  background-color: var(--primary-color);
  color: #55652f;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.menu-card-content a:hover {
  background-color: white;
  color: var(--primary-color);
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #55652f;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg-color);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: white;
}

.contact .row form button {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: var(--bg-color);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #eea7b8;
  margin: 1rem;
}
footer .socials a:hover,
footer .links a:hover {
  color: #55652f;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #eea7b8;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: #0a0a0a;
  font-weight: 700;
}

/* Responsive Design */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 76%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 63%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s ease;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #0a0a0a;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10rem 7% 3rem;
  }

  .hero .content {
    width: 100%;
    max-width: 60rem;
    flex: none;
  }

  .hero .hero-image {
    width: 100%;
    flex: none;
    display: flex;
    justify-content: center;
  }
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .course .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }
  .contact .row .form {
    padding: 0;
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .course .row {
    grid-template-columns: 1fr;
  }

  .menu-card img {
    height: 200px;
  }
}
